{% extends 'moex.html.twig' %}

{% block title %}Moex - Главная{% endblock %}

{% block header %}
    {{ form_start(form, { 'action': path('moex_load_data'), 'method': 'POST', 'attr': {'class': 'moex-load-file'} }) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <div class="count">
        Всего записей: {{ pagination.getTotalItemCount|number_format(0, '.', ' ') }}
    </div>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('moex-complite') %}
    <div class="notice complite">
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('moex-error') %}
    <div class="notice error">
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}
<div class="wrapper-table">
    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>SECCODE</th>
                <th>BUYSELL</th>
                <th>TIME</th>
                <th>ORDERNO</th>
                <th>ACTION</th>
                <th>PRICE</th>
                <th>VOLUME</th>
                <th>TRADENO</th>
                <th>TRADEPRICE</th>
            </tr>
        </thead>
        <tbody>
            {% for row in pagination %}
                <tr>
                    <td>{{ row.no|number_format(0, '.', ' ') }}</td>
                    <td>{{ row.secCode }}</td>
                    <td>{{ row.buysell }}</td>
                    <td>{{ row.time|date('H:m:s.u') }}</td>
                    <td>{{ row.orderNo|number_format(0, '.', '') }}</td>
                    <td>{{ row.action }}</td>
                    <td>{{ row.price|number_format(2, '.', ' ') }}</td>
                    <td>{{ row.volume|number_format(0, '.', ' ') }}</td>
                    <td>{{ row.tradeNo|number_format(0, '.', '') }}</td>
                    <td>{{ row.tradePrice|number_format(2, '.', ' ')  }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" style="text-align:center">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}